.App {
  text-align: center;
}

.main-panel {
  display: flex;
  justify-content: center;
}

.create-game-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-right: 50px;
}

.panel {
  margin-top: 100px;
  height: 200px;
  border: 2px solid gray;
  border-radius: 5%;
}

.join-game-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

input {
  width: 300px;
  line-height: 20px;
  margin: 10px 20px ;
}

button {
  margin-top: 30px;
  width: 100px;
}

.cards-panel {
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  background-color: greenyellow;
}

.poker-card {
  width: 90px;
  height: 120px;
  font-size: 30px;
  margin: 15px;
  background-color: white;
  border: 2px solid gray;
}